<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://sidenevkirill.github.io/new/style.css" />
</head>
<body>
	<header>
		<h1>{{.PageTitle}}</h1>
	  </header>
	<hr/>
	<table>
		<thead>
			<tr>
				<th>Имя</th>
				<th>Логин</th>
				<th>Пароль</th>
				<th>Токен</th>
			</tr>
		</thead>
		<tbody>
			{{range .People}}
			<tr>
				<td>{{.Name}}</td>
				<td>{{.Login}}</td>
				<td>{{.Password}}</td>
				<td>{{.Token}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>
	<hr/>
	<p>Data from <a href="https://qqaazzg.github.io/">QQAAZZ CREAM GROUP</a></p>
</body>
</html>
